﻿@page "/"
@namespace SYKPro_Game.Pages
@using SYKPro.Core;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<!-- Blazor overlay -->
<div id="components-reconnect-modal"></div>

<component type="typeof(App)" render-mode="ServerPrerendered" />

<style>
    .components-reconnect-show, .components-reconnect-failed, .components-reconnect-rejected {
        display: none;
    }
</style>
