﻿@using Microsoft.AspNetCore.Components.Web
@namespace SYKPro_Game.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="_content/SYKPro.Core/css/bootstrap/bootstrap.min.css" />
    <link href="_content/SYKPro.Core/css/Site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/164c794a21.js" crossorigin="anonymous"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
